/* Reset Css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#main {

}

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 46.5px; 
    background-color: black;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: white;
    text-transform: uppercase ;
}

#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px ;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    min-width: 158.613px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: black;
    padding: 0 16px;
    line-height: 38.5px;
}

#nav .nav-arrow-down {
    font-size: 12px;
}


#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon {
    color: white;
    font-size: 15px;
    line-height: 46.5px;
}

#slider {
    margin-top: 46.5px;
    padding-top: 50%;
    background: url(/assets/img/Slider/chicago.jpg) top center / cover no-repeat ;
}

#content {

}

#footer {

}